.block-404 {
  height: calc(100vh - 338px);
  min-height: 410px;
  padding: 113px 0 0;

  .container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: clamp(7rem, 10.42vw, 12.5rem);
    color: $primary;
    margin: 0 0 13px;
  }

  .btn {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-breakpoint-down(xl) {
    height: calc(100vh - 283px);
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    padding: 200px 0 100px;
  }

  @include media-breakpoint-down(md) {
    padding: 160px 0 60px;
  }
}
