.home-section-3 {
  background-color: $white;
  padding: 217px 0;

  h2 {
    margin: 0 0 164px;
    font-size: clamp(3rem, 5.2vw, 6.25rem);
  }

  .product-list {
    .row {
      --bs-gutter-x: 86px;
      --bs-gutter-y: 58px;
    }

    .item {
      .item-image {
        aspect-ratio: 536/500;
        position: relative;
        overflow: hidden;
        background-color: $light;

        &:after {
          content: "";
          position: absolute;
          right: 20px;
          top: 20px;
          width: 14px;
          height: 14px;
          background: url(../images/plus.png);
        }

        a,
        span {
          display: block;
          width: 100%;
          height: 100%;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
          padding: 40px;

          &.image-overlay {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
          }

          img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }

        &:hover {
          span {
            &.image-visible {
              opacity: 0;
            }
            &.image-overlay {
              opacity: 1;
            }
          }
        }
      }

      .item-text {
        text-decoration: none;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 0 0;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    padding: 150px 0;

    h2 {
      margin: 0 0 64px;
    }

    .product-list {
      .row {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 40px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .product-list {
      .row {
        --bs-gutter-x: 20px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 100px 0;
  }
}
