.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  padding: 32px 0 26px;
  background-color: $white;

  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    width: 50px;

    svg {
      @include img-fit;

      path {
        fill: $dark;
        transition: all 0.5s;
      }
    }
  }

  .header-search {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 232px;

    .icon {
      display: block;
      flex: 0 0 auto;
      svg {
        display: block;
        path {
          fill: $dark;
          transition: all 0.5s;
        }
      }
    }

    form {
      width: 100%;
      input {
        border: none;
        background: none;
        appearance: none;
        font-size: 1rem;
        line-height: 1.2;
        padding: 0 0 0 10px;
        color: $dark;
        @include placeholder($dark, 1);
        transition: all 0.5s;
        display: block;
        width: 100%;
      }
    }
  }

  .lang-switcher {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: $dark;
    text-transform: uppercase;
    margin: 0 33px 0 42px;
    transition: all 0.5s;
    height: 64px;

    button {
      border: none;
      background: none;
      appearance: none;
      padding: 0;
      color: $dark;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      background: none;
      appearance: none;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;
      transition: all 0.5s;
      height: 100%;

      &:after {
        content: "";
        display: block;
        background: url(../images/icons/arrow-dark.svg);
        width: 11px;
        height: 7px;
        margin: 2px 0 0 6px;
        transition: all 0.5s;
      }
    }

    ul {
      position: absolute;
      z-index: 1;
      background-color: $light;
      margin: 0;
      padding: 64px 20px 10px;
      list-style: none;
      left: -20px;
      right: -20px;
      top: 0;
      line-height: 1.5;
      display: none;
      transition: all 0.5s;

      a {
        text-decoration: none;
        color: $dark;
        transition: all 0.5s;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &.active {
      button {
        &:after {
          transform: scaleY(-1);
        }
      }

      ul {
        display: block;
      }
    }
  }

  .header-btn {
    position: relative;
    z-index: 2;
    .btn {
      background-color: $dark;
      color: $white;
      padding: 0 59px;
      transition: all 0.5s;
    }
  }

  &.header-light {
    background-color: transparent;
    padding: 0;
    top: 64px;

    .header-main {
      .container-fluid {
        height: 0;
      }
      .navbar-toggler {
        .navbar-toggler-icon {
          &:before,
          &:after {
            background-color: $white;
          }
        }
      }
    }

    .header-logo {
      svg {
        path {
          fill: $white;
        }
      }
    }

    .header-search {
      .icon {
        svg {
          path {
            fill: $white;
          }
        }
      }

      form {
        input {
          color: $white;
          @include placeholder($white, 1);
        }
      }
    }

    .lang-switcher {
      color: $white;

      button {
        color: $white;

        &:after {
          background: url(../images/icons/arrow.svg);
        }
      }

      ul {
        background-color: $dark;

        a {
          color: $white;
        }
      }
    }

    .header-btn {
      .btn {
        background-color: $white;
        color: $dark;
      }
    }

    .header-navbar {
      top: -64px;
    }

    &.nav-opened {
      .header-logo {
        opacity: 0;
      }

      .header-search {
        .icon {
          svg {
            path {
              fill: $dark;
            }
          }
        }

        form {
          input {
            color: $dark;
            @include placeholder($dark, 1);
          }
        }
      }

      .lang-switcher {
        color: $dark;

        button {
          color: $dark;

          &:after {
            background: url(../images/icons/arrow-dark.svg);
          }
        }

        ul {
          background-color: $white;

          a {
            color: $dark;
          }
        }
      }

      .header-btn {
        .btn {
          background-color: $dark;
          color: $white;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 15px 0;
    .navbar-toggler {
      margin-left: 20px;
    }
    .header-btn {
      .btn {
        padding: 0 25px;
      }
    }
    .lang-switcher {
      margin: 0 20px;
      height: 50px;

      ul {
        padding-top: 50px;
      }
    }

    &.header-light {
      top: 35px;

      .header-navbar {
        top: -35px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .header-search {
      display: none;
    }
  }
}

.header-navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 540px;
  background-color: $white;
  padding: 45px 0 70px;
  transform: translateY(-120%);
  transition: all 2s cubic-bezier(0.11, 1.11, 0, 0.98);

  &.active {
    transform: translateY(0);
  }

  .container-fluid {
    flex-direction: column;
    align-items: unset;
    height: 100%;
  }

  .navbar-toggler {
    margin: 0 0 0 -13px;

    .navbar-toggler-icon {
      &:before {
        background: $dark;
        transform: translateY(4px) rotate(45deg);
        width: 20px;
      }

      &:after {
        background: $dark;
        transform: translateY(-4px) rotate(-45deg);
        width: 20px;
      }
    }
  }

  .navigation-main {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.3;
    margin: 118px 0 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    & > ul {
      display: flex;
      margin: 0;

      & > li {
        margin: 0 4.16% 0 0;

        &:last-child {
          margin: 0;
        }

        & > a {
          color: $dark;
          text-decoration: none;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: $dark;
            transition: width 0.3s ease;
          }

          &:hover {
            &:after {
              width: 100%;
              left: 0;
            }
          }
        }
      }

      ul {
        margin: 28px 0 0;

        li {
          a {
            color: #cbcbcb;
            text-decoration: none;

            &:hover {
              color: $dark;
            }
          }
        }
      }
    }
  }

  .header-navbar-bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .list-underlined ul li {
      margin: 0 0 0 29px;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 100px 0;
    height: 100vh;

    .container-fluid {
      justify-content: flex-start;
      overflow: auto;
    }

    .navbar-toggler {
      position: absolute;
      left: 20px;
      top: 20px;
    }

    .navigation-main {
      margin: 0;

      & > ul {
        flex-direction: column;

        & > li {
          margin: 0 0 20px;
        }

        ul {
          margin: 20px 0 0 20px;
        }
      }
    }

    .header-navbar-bottom {
      margin-top: 50px;
      flex-direction: column;
      align-items: flex-start;

      .list-underlined {
        margin: 50px 0 0;
        ul {
          li {
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .header-navbar-bottom {
      .list-underlined {
        font-size: 14px;
      }
    }
  }
}
