input,
select,
textarea,
button {
  font-family: $font-family-base;
}

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1 {
  font-family: $font-family-exp;
  font-size: clamp($h1-font-size-sm, 5.2vw, $h1-font-size);
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: $font-family-headlines;
  font-size: clamp($h2-font-size-sm, 5.2vw, $h2-font-size);
  font-weight: 400;
  letter-spacing: -0.05em;
  color: $primary;
  margin: 0;
}

h3 {
  font-family: $font-family-base;
  font-size: $h3-font-size;
  // line-height: 1;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  font-family: $font-family-base;
  font-size: $h4-font-size;
  line-height: 1.25;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.03em;
}
