@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Text.woff2") format("woff2"), url("../fonts/IBMPlexSans-Text.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2"), url("../fonts/IBMPlexSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff2"), url("../fonts/IBMPlexSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Favorit Pro Book";
  src: url("../fonts/FavoritPro-Book.woff2") format("woff2"), url("../fonts/FavoritPro-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Favorit Pro";
  src: url("../fonts/FavoritPro-Regular.woff2") format("woff2"), url("../fonts/FavoritPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Favorit Pro";
  src: url("../fonts/FavoritPro-Medium.woff2") format("woff2"), url("../fonts/FavoritPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABC Favorit Exp";
  src: url("../fonts/ABCFavoritExpanded-Bold.woff2") format("woff2"), url("../fonts/ABCFavoritExpanded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
